html {
    height:100%;
    padding:0;
    margin:0;
}

body {
    padding-top: 5rem;
    font-family: Montserrat, Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.padded {
     padding: 3rem 1.5rem;
}

.text-center {
    text-align: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.hilight-fg {
    color: #fbeed7;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.center {
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

